<% extend 'layout.html' %>

<div class="card home">
	<div class="header">
	  <h1 class="title">
		<%- @pageTitle %>
	  </h1>
	  <p class="category"></p>
	</div>
	<div class="content">
	  <div class="typo-line">
		<%- @text %>

		<div class="span12">
			
			<div class="widget">
				  
			  <div class="widget-header text-center">
				  <h4>Choose Your Plan</h4>
			  </div> <!-- /widget-header -->
			  
			  <div class="widget-content">
				  
				  <div class="pricing-plans plans-4">
					  
				  <div class="plan-container">
					  <div class="plan white">
						  <div class="plan-header">
							  
							  <div class="plan-title">
								  Free
							  </div> <!-- /plan-title -->
							  
							  <div class="plan-price">
								  $0<span class="term">For Life</span>
							  </div> <!-- /plan-price -->
							  
						  </div> <!-- /plan-header -->	        
						  
						  <div class="plan-features">
							  <ul>
								  <li><strong>10 minutes</strong> maximum conversion time per file</li>
								  <li><strong>100 MB</strong> maximum file size</li>
								  <li><strong>Normal</strong> priority</li>
								  <li><strong>No Adfree</strong> pages</li>
							  </ul>
						  </div> <!-- /plan-features -->
						  
						  <div class="plan-actions">				
							  <a href="/account" class="btn btn-primary btn-fill btn-lg">
									<i class="glyphicon pe-7s-cart"></i>  
								Simple Login
							</a>
						  </div> <!-- /plan-actions -->
			  
					  </div> <!-- /plan -->
				  </div> <!-- /plan-container -->
				  
				  <div class="plan-container">
						<div class="plan white">
							<div class="plan-header">
								
								<div class="plan-title">
									Silver
								</div> <!-- /plan-title -->
								
								<div class="plan-price">
									$1<span class="term">Per Month</span>
								</div> <!-- /plan-price -->
								
							</div> <!-- /plan-header -->	          
							
							<div class="plan-features">
								<ul>					
									<li><strong>10 minutes</strong> maximum conversion time per file</li>
									<li><strong>100 MB</strong> maximum file size</li>
									<li><strong>Normal</strong> priority</li>
									<li><strong>Adfree</strong> pages</li>
								</ul>
							</div> <!-- /plan-features -->
							
							<div class="plan-actions">				
								  <a href="javascript:gtag('event', 'OneClickBuy', {'ActionLogs': 'OneClickBuy'});" class="btn btn-primary btn-fill btn-lg">
										  <i class="glyphicon pe-7s-cart"></i>  
										  One click Buy
								  </a>
							</div> <!-- /plan-actions -->
				
						</div> <!-- /plan -->
					</div> <!-- /plan-container -->
				  
				  <div class="plan-container">
					  <div class="plan white">
						  <div class="plan-header">
							  
							  <div class="plan-title">
								  Gold
							  </div> <!-- /plan-title -->
							  
							  <div class="plan-price">
								  $5<span class="term">Per Month</span>
							  </div> <!-- /plan-price -->
							  
						  </div> <!-- /plan-header -->	          
						  
						  <div class="plan-features">
							  <ul>					
									<li><strong>5 hours</strong> maximum conversion time per file</li>
									<li><strong>1 GB</strong> maximum file size</li>
									<li><strong>High</strong> priority</li>
									<li><strong>Adfree</strong> pages</li>
							  </ul>
						  </div> <!-- /plan-features -->
						  
						  <div class="plan-actions">				
								<a href="javascript:gtag('event', 'Subscribe', {'ActionLogs': 'Subscribe'});" class="btn btn-primary btn-fill btn-lg">
										<i class="glyphicon pe-7s-cart"></i>  
									Subscribe
								</a>
						  </div> <!-- /plan-actions -->
			  
					  </div> <!-- /plan -->
				  </div> <!-- /plan-container -->
				  
				  <div class="plan-container">
					  <div class="plan white">
						  <div class="plan-header">
							  
							  <div class="plan-title">
								  Platinum
							  </div> <!-- /plan-title -->
							  
							  <div class="plan-price">
								  $10<span class="term">Per Month</span>
							  </div> <!-- /plan-price -->
							  
						  </div> <!-- /plan-header -->	       
						  
						  <div class="plan-features">
							  <ul>
									<li><strong>5 hours</strong> maximum conversion time per file</li>
									<li><strong>2 GB</strong> maximum file size</li>
									<li><strong>Highest</strong> priority</li>
									<li><strong>Adfree</strong> pages</li>
							  </ul>
						  </div> <!-- /plan-features -->
						  
						  <div class="plan-actions">				
								<a href="javascript:gtag('event', 'Buy', {'ActionLogs': 'Buy'});" class="btn btn-primary btn-fill btn-lg" >
										<i class="glyphicon pe-7s-cart"></i>  
									Buy
								</a>
						  </div> <!-- /plan-actions -->
			  
					  </div> <!-- /plan -->
					  
				  </div> <!-- /plan-container -->
		  
		  
			  </div> <!-- /pricing-plans -->
				  
			  </div> <!-- /widget-content -->
				  
		  </div> <!-- /widget -->					
		  
	  </div> <!-- /span12 -->     	
		
<div class="clearfix"></div>

	  </div>
	</div>
  </div>