<!-- Schema.org for Google -->
<meta itemprop="name" content="<%- @config.social_meta_title %>">
<meta itemprop="description" content="<%- @config.social_meta_description %>">
<meta itemprop="image" content="<%- @config.og_site_image %>">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<%- @config.social_meta_title %>">
<meta name="twitter:description" content="<%- @config.social_meta_description %>">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="<%- @config.social_meta_title %>">
<meta name="og:description" content="<%- @config.social_meta_description %>">
<meta name="og:image" content="<%- @config.og_site_image %>">
<meta name="og:url" content="<%- @config.site_url %>">
<meta name="og:site_name" content="<%- @config.social_meta_title %>">
<meta name="og:locale" content="en_US">
<meta name="og:type" content="website">