<% if(@adEnabled) : %>

<div class="advrt hor">
  <div class="holder">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- BensToolset Hor Adaptive -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6706302985668708"
             data-ad-slot="4299915314"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    
        <!-- TEMP for TEST -->
        <!-- <div style="width:auto; border:1px solid #999; text-align: center; padding:40px">AD</div> -->
        <!-- TEMP for TEST end -->
    </div>      
    <div class="lbl">Advertisement. <a href="/pricing" target="_blank" title="Ben's Toolset pricing plans">Remove?</a></div>
</div>

<% end %>